default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: rails_watch_list_development

test:
  <<: *default
  database: rails_watch_list_test

production:
  primary:
    <<: *default
    url: <%= ENV["DATABASE_URL"] %>
